.App {
  text-align: left;
}
.intro{
  font-weight: bold;
}
.instructions {
  margin:0 auto;
  padding:2em;
  border-radius: 3%;
  background-color: bisque;
  width: 70vw;
  height: 50vw;
}
li {
  margin-bottom:2em;
}
